/* ============= LAYOUT ============= */

#main-wrapper {
    padding-top: 70px;
}

/* ============= USER INFO ============= */

.user-img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.user-name {
    color: rgb(238, 238, 238);
    display: inline-block;
    margin-top: 15px;
}

/* ============= POSTS ============= */

.create-post-form-wrapper {
    margin: 0 auto;
    float: none;
}

#txtTitle {
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
}

#txtPost {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    resize: none;
}

#send-post-button {
    width: 100%;
}

.post-image {
    float: left;
}

.post-image img {
    width: 64px;
    height: 64px;
}

.post-content {
    margin-left: 10px;
    display:inline-block;
}

.post-title {
    font-weight: bold;
    color: #292F33;
    font-size: 14px;
}

.post-time {
    font-size: 13px;
    color: #8899A6;
}

.post-body-content {
    word-wrap: break-word;
}

.post-actions {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 5px;
}

.posts-wrapper {
    margin-top: 15px;
}

.delete-post-button {

}

.post-done-button {
    font-size: 11px;
}

.add-like-post-button {
    background-color: rgb(231, 30, 98);
    border-color: rgb(192, 28, 83);
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.add-like-post-button:hover, .add-like-post-button:active {
    background-color: #D22D65;
    color: white;
}

/* ============= LOGIN ============= */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    width: 100%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
