<!doctype html>
<html ng-app="webApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>:: Voting ::</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/tabs.css">
    <link rel="stylesheet" href="styles/user.css">
    <link rel="stylesheet" href="styles/posts.css">
    <link rel="stylesheet" href="styles/ribbon.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />

    <style>

    </style>
</head>

<!-- ===== BASIC LAYOUT
    La idea de este archivo es setear la estructura básica de todas las páginas,
    de manera que mantengan una coherencia gráfica y no haya que repetir código.
    Luego, cada página sólo tiene que implementar el código propio de cada una,
    que se desplegará bajo el tag <div ng-view></div>
-->

<body ng-controller="LoginController">

    <!-- ===== Barra de navegación principal
        Despliega los menús principales de la aplicación.
        Si el width de la pantalla se achica hasta determinado punto (tamaño tablet),
        los menús se pliegan en un hamburger menu
    -->
    <nav class="navbar navbar-default">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-interaction" aria-expanded="false" ng-show="user">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--    //*******************************************
                //código por si queremos usar la Facebook SDK
                //*******************************************
                <button ng-click="FBLogin()">Login SDK</button>
                <button ng-click="FBLogout()">Logout SDK</button>   -->

                <button class="navbar-toggle btn btn-fb navbar-btn visible-xs-block" ng-click="facebookLogin()" ng-hide="user"><i class="fa fa-facebook"></i> Login con <strong>Facebook</strong></button>

                <a class="navbar-brand" href="#">
                    <img alt="Logo" src="">
                </a>
            </div>

            <form class="navbar-form navbar-left search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar post" ng-model="search">
                </div>
            </form>

            <div id="nav-interaction" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-show="user">
                        <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="user-img" ng-src="{{ user.image }}" /> {{ user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xs" ng-hide="user">
                        <button id="facebook-login-button" class="btn btn-fb navbar-btn" ng-click="facebookLogin()" ng-hide="user"><i class="fa fa-facebook"></i> Login con <strong>Facebook</strong></button>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="ribbon top-ribbon hidden-xs hidden-sm">
        <div class="inset"></div>
        <div class="container">
            <a href="https://github.com/marcelofb/Voting-WEB/tree/development">
                <div class="base">
                    <img src="images/github.png" alt="Github project" />
                </div>
            </a>
            <div class="left_corner"></div>
            <div class="right_corner"></div>
        </div>
    </div>

    <!-- ===== Main wrapper
        Dentro de este div se desplegará el contenido que cada página redefina
    -->
    <div id="main-wrapper" class="container">
        <div ng-view class="col-md-8 content-wrapper"></div>
    </div>

    <footer class="footer">
        <center>
            2015 - Voting WEB - marceloburriel@gmail.com / leandro.vilas90@gmail.com
        </center>
    </footer>

    <div ng-controller="CronHideOldDonePostsController"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment.twitter/moment-twitter.js"></script>
    <script src="bower_components/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/later/later.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>

    <!-- Utils -->
    <script src="scripts/utils/StringPatch.js"></script>
    <script src="scripts/utils/utils.js"></script>

    <!-- Controllers -->
    <script src="scripts/controllers/PostsController.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>
    <script src="scripts/controllers/CronHideOldDonePostsController.js"></script>

    <!-- Factories -->
    <!--<script src="scripts/factories/FirebaseFactory.js"></script>-->
    <script src="scripts/factories/PostsFactory.js"></script>
    <script src="scripts/factories/UsersFactory.js"></script>
    <script src="scripts/factories/LoginFactory.js"></script>
    <script src="scripts/factories/CronFactory.js"></script>

    <!-- Filters -->
    <script src="scripts/filters/TwitterLikeDateFilter.js"></script>

    <!-- Directives -->
    <script src="scripts/directives/deletePostButton/deletePostButton.js"></script>
    <!-- endbuild -->
</body>

</html>
