<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>

    <div class="create-post-wrapper">
        <form class="form-horizontal" ng-submit="AddPost()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label sr-only" for="txtTitle">Título</label>
                    <input id="txtTitle" name="txtTitle" type="text" class="form-control input-md" placeholder="T&iacute;tulo" ng-model="article.title">
                </div>

                <div class="form-group">
                    <label class="control-label sr-only" for="txtPost">Post</label>
                    <textarea class="form-control" id="txtPost" name="txtPost" placeholder="Post" ng-model="article.post"></textarea>
                </div>

                <input id="send-post-button" ng-disabled="!article.title || !article.post" class="btn btn-primary" type="submit" value="Publicar" />
            </fieldset>
        </form>
    </div>

    <div class="posts-wrapper">
        <div class="list-group" ng-repeat="article in articles">
            <a href="#" onclick="return false;" class="list-group-item post">
                <span class="badge" style="font-size: 27px">{{article.likes}}</span>
                <div class="clearfix">
                    <div class="post-image">
                        <img src="http://i1.wp.com/www.techrepublic.com/bundles/techrepubliccore/images/icons/standard/icon-user-default.png" alt="" />
                    </div>
                    <div class="post-content">
                        <h4 class="list-group-item-heading">{{article.title}}</h4>
                        <p class="list-group-item-text">{{article.post}}</p>
                    </div>
                </div>
                <div class="post-actions">
                    <p class="list-group-item-text">Done: {{article.done}}</p>
                    <span class="pull-right">
                        <button class="btn btn-xs btn-danger" ng-click="confirmDelete(article.$id)" data-target="#deleteModal">BORRAR</button>
                        <button class="btn btn-xs btn-success" ng-click="addLike(article.$id)">+1</button>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Borrar</h4>
                </div>

                <div class="modal-body" style="text-align:center;">
                    <p>Seguro desea eliminar el post?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" ng-click="deletePost()">Aceptar</button>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
