<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>

    <!-- ===== Formulario para la creación de posts
        Todo es más fácil de acomodar si está dentro de un div :)
    -->
    <div class="create-post-wrapper" ng-show="user">
        <div class="create-post-user-image-wrapper">
            <img ng-src="{{ user.image }}" alt="Imagen de perfil" />
        </div>
        <div class="create-post-form-wrapper">
            <form class="clearfix" ng-submit="addPost()">
                <fieldset>
                    <!-- Cada campo a completar se encuentra dentro de un div con la clase .form-group -->

                    <div class="form-group">
                        <label class="control-label sr-only" for="txtTitle">Título</label>
                        <input id="txtTitle" name="txtTitle" type="text" class="form-control input-md" placeholder="T&iacute;tulo" ng-model="article.title" required>
                    </div>

                    <div class="form-group">
                        <label class="control-label sr-only" for="txtPost">Post</label>
                        <textarea class="form-control" id="txtPost" name="txtPost" placeholder="Post" ng-model="article.post" required></textarea>
                    </div>
                    <div class="form-group">
                        <select name="singleSelect" id="singleSelect" ng-model="article.category" class="form-control">
                          <option value="">---Categor&iacute;a---</option> <!-- not selected / blank option -->
                          <option value="A">A</option> <!-- interpolation -->
                          <option value="B">B</option>
                        </select>
                    </div>
                </fieldset>
                <input id="send-post-button" ng-disabled="!article.title || !article.post || !user" class="btn btn-warning" type="submit" value="Publicar" />
            </form>
        </div>
        <div class="create-post-caret"></div>
    </div>

    <!--Tabs-->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href data-toggle="tab">Todos</a></li>
      <li role="presentation"><a href data-toggle="tab" ng-click="findPosts('A')">A</a></li>
      <li role="presentation"><a href data-toggle="tab" ng-click="findPosts('B')">B</a></li>
    </ul>

    <!-- ===== Listado de posts activos
        Conviene separar las distintas secciones del sitio en divs fácilmente
        diferenciables y no dependientes. De esta forma, al listado de posts no
        le importa cómo se despliega el formulario de creación, y viceversa.

        A su vez, cada post se encuentra dentro de un div con la clase .list-group.
    -->
    <div class="posts-wrapper">
        <ul class="list-group">
            <li class="list-group-item post" dir-paginate="article in articles | filter: { show:true } | orderBy:'likes':true | filter:search | itemsPerPage: pageSize" current-page="currentPage">

                <span class="pull-right">
                    <delete-post-button post-id="{{::article.$id}}" post-owner="{{::article.owner}}" ng-show="article.owner === user.facebookId"></delete-post-button>
                </span>

                <!--
                    Esta clase .clearfix que viene con Bootstrap, limpia los floats,
                    lo que hace que no se pegue un mambo copado con los tamaños de los divs,
                    así logramos no tener que hacer parches de width, height y esas cosas cochinas.
                -->
                <div class="clearfix">
                    <div class="post-image">
                        <img ng-src="{{article.photo}}" alt="" />
                    </div>
                    <div class="post-content">
                        <h4 class="list-group-item-heading">
                            <strong class="post-title">{{article.title}}</strong>
                            <span class="post-time">- {{::article.timestamp | TwitterLikeDate}}</span>
                        </h4>
                        <p class="list-group-item-text post-body-content">{{article.post}}</p>
                    </div>
                </div>

                <div class="post-actions clearfix">
                    <div class="list-group-item-text pull-left">
                        <div class="post-not-done" ng-show="!article.done">
                            <span class="label label-warning">Pendiente</span>
                            <button type="button" class="btn btn-success btn-xs post-done-button" ng-click="markDone(article.$id, article.owner)" ng-show="article.owner === user.facebookId">
                                <i class="fa fa-check"></i> Ya se hizo!
                            </button>
                        </div>
                        <div class="post-not-done" ng-show="article.done">
                            <span class="label label-success">Hecho!</span>
                            <button type="button" class="btn btn-warning btn-xs post-done-button" ng-click="markNotDone(article.$id, article.owner)" ng-show="article.owner === user.facebookId">
                                <i class="fa fa-times"></i> Está pendiente
                            </button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-xs add-like-post-button" ng-click="addLike(article.$id)" ng-disabled="!user">+1</button> {{article.likes}}
                    </div>
                </div>


            </li>
        </ul>

        <dir-pagination-controls boundary-links="false"></dir-pagination-controls>

    </div>

</body>

</html>
