<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="styles/blog.css" rel="stylesheet">
</head>
 
<body ng-controller="WelcomeCtrl">

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item " href="#">About</a>
            </nav>
        </div>
    </div>

    <div class="container">
        
    <form class="form-horizontal" ng-submit="AddPost()">
    <fieldset>

    <!-- Form Name -->
    <div class="padding-marce">
    <legend>Crear Post</legend>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="txtTitle">Título</label>
      <div class="col-md-4">
      <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" class="form-control input-md">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="txtPost">Post</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="txtPost" ng-model="article.post" name="txtPost" ></textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input id="singlebutton" ng-disabled="!article.title || !article.post" name="singlebutton" class="btn btn-primary" type="submit" value="Publicar" />
      </div>
    </div>

    </fieldset>
    </form>

    </div>

    <div class="container">   
        <div class="list-group" ng-repeat="article in articles">
        <a href="#" onclick="return false;" class="list-group-item active">
        <h4 class="list-group-item-heading">{{article.title}}</h4>
        <p class="list-group-item-text">{{article.post}}</p>
     
        
        </a>
        </div>
    </div>

    <footer class="footer">
    <center>
    2015 - Voting WEB - marcelo.burriel@fluxit.com.ar / leandro.vilas@fluxit.com.ar
    </center>
    </footer>
    
</body>
 
</html>